body {
  text-align: center;
}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  }

div.heading {
  background-image: url("e:/coding/broadway/resources/images/the-flatiron-building.png");
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

p {
  font-family: Helvetica;
  font-size: 14px;
}

h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

h3#bottomheading {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("e:/coding/broadway/resources/images/the-flatiron-building.png");
}
