body {
  text-align: center;
}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  }

div.heading {
  background-image: url("e:/Coding/broadway/resources/images/the-flatiron-building.png");
}
